*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: rgb(105, 74, 59);
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(243, 235, 223);
  scroll-behavior: smooth;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
}

.container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}

.cards {
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
}
.cards__body {
  margin: 20px -15px;
  display: flex;
  justify-content: center;
}
.cards__text {
  display: flex;
  text-align: start;
  flex: 0 1 40%;
  margin: 15px;
  padding-top: 30px;
  font-size: 20px;
}
.cards__slide {
  flex: 0 1 35%;
  width: 100%;
  justify-content: center;
  margin: 15px;
  min-height: 700px;
}
.cards__button {
  border-radius: 37px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2px;
  padding: 2px 15px;
  height: 30px;
  text-decoration: none;
  letter-spacing: 0.2px;
  font-weight: bold;
  font-size: 12px;
  line-height: 105%;
  text-transform: uppercase;
  text-align: center;
  color: rgb(105, 74, 59);
  border: 0.1px solid rgb(105, 74, 59);
  max-width: 100px;
  background-color: beige;
  cursor: pointer;
}
.cards__button:hover {
  background: rgb(154, 114, 86);
  color: rgb(229, 220, 210);
}

.main__title {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 57px;
  text-transform: uppercase;
  color: rgb(105, 74, 59);
}

.cards__column {
  flex: 0 1 25%;
  justify-content: center;
  padding-right: 15px;
  min-height: 100%;
  margin-bottom: 20px;
}

.first {
  background-color: rgb(229, 220, 210);
}

.second {
  background-color: rgb(255, 242, 200);
}

.therd {
  background-color: rgba(193, 209, 182, 0.938);
}

.fourth {
  background-color: rgb(217, 228, 234);
}

.selected {
  transform: scale(1.05, 1.05);
  border: 3px solid #425b69;
  box-shadow: 5px 5px 5px #425b69;
  transition: all 0.3s ease 0s;
  outline: solid 4px #f08700;
}

.cards-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
  height: 100%;
}
.cards-item__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.cards-item__rate {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0px;
  color: rgb(105, 74, 59);
  border-bottom: 0.1px solid rgb(105, 74, 59);
}
.cards-item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 0px;
  color: rgb(105, 74, 59);
  border-bottom: 0.1px solid rgb(105, 74, 59);
}
.cards-item__price {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  border-bottom: 0.1px solid rgb(105, 74, 59);
}
.cards-item__speed {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0px;
  color: rgb(105, 74, 59);
  border-bottom: 0.1px solid rgb(105, 74, 59);
}
.cards-item__number {
  color: rgb(105, 74, 59);
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0px;
}
.cards-item__word-top, .cards-item__word-bottom {
  color: rgb(105, 74, 59);
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0px;
}
.cards-item__word-top {
  padding: 0px 5px 40px 0px;
}
.cards-item__word-bottom {
  padding: 30px 0px 0px 5px;
}/*# sourceMappingURL=RateCard.css.map */